/* PokemonList.css */
.search-container {
    /* display: flex; */
    justify-content: center;
    gap: 10px; /* Space out the elements */
    margin: 20px;
  }
  
  .pokemon-grid {
    
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  }
  
  /* Further styling for the search-container elements */
  